.button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: #e0e0e2;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  cursor: pointer;

  & p {
    font-size: 25px;
    line-height: 37px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #767676;
  }

  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}
