.tree-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__image {
    width: auto;
    height: 100vh;
  }

  &__logo {
    position: absolute;
    top: 18px;
    width: 260px;
    z-index: 1;
  }

  &__prev, &__next {
    position: absolute;
    width: 90px;
    cursor: pointer;
  }

  &__prev {
    left: 20%;
  }

  &__next {
    right: 20%;
  }

  & canvas {
    //display: none;
  }

  &__swiper {
    position: static !important;
    width: auto !important;
    height: 100vh !important;

    & > div {
      & > img {
        position: static !important;
        height: 100vh !important;
        width: 600px;
      }
    }
  }

  &__hover-img {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1024px) {
  .tree-animation {
    &__image {
      width: 0;
    }

    &__logo {
      top: 80px;
    }

    &__swiper {
      width: 100vw !important;
      & > div {
        & > img {
          width: 100vw !important;
        }
      }
    }
  }
}

@media screen and (max-width: 692px) {
  .tree-animation {
    &__prev, &__next {
      width: 50px;
    }

    &__prev {
      left: 10%;
    }

    &__next {
      right: 10%;
    }
  }
}

.image-map__content span {
  &:hover {
    //background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
}

