.home-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("./../../assets/home-page-bg.png") no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  justify-content: space-around;

  &__content {
    max-width: 936px;
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 60px;
    padding: 87px 114px 84px 113px;
    border-radius: 16px;

    & p {
      font-size: 25px;
      line-height: 37px;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      color: #767676;
    }
  }

  &__button {
    width: 529px;
    height: 92px;
    margin-top: 110px;
  }
}

@media screen and (max-width: 1024px) {
  .home-block {
    &__content {
      width: 600px;
      padding: 40px;
    }

    &__button {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 709px) {
  .home-block {
    &__content {
      width: 364px;
      margin-top: 40px;
      padding: 20px;

      & p {
        font-size: 17px;
        line-height: 33px;
      }
    }

    &__button {
      width: 400px;
    }
  }
}
