.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__logo {
    margin-top: 50px;
    width: 320px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__logo {
      margin-top: 50px;
      width: 400px;
    }
  }
}

@media screen and (max-width: 709px) {
  .header {
    &__logo {
      width: 200px;
    }
  }
}

