.sign-up-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("./../../assets/home-page-bg.png") no-repeat;
  background-size: 100% 100%;

  &__heading {
    width: 900px;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #e9e9e9;
  }

  &__text {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #e9e9e9;

    & span {
      border-bottom: 3px solid #e9e9e9;
      padding-bottom: 1px;
      cursor: pointer;
    }
  }

  &__fields {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 90px;
  }

  &__field {
    width: 800px;
    height: 83px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    line-height: 37px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #767676;
  }

  &__auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 172px;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;

    &__google {
      background: #db4c3f;
      cursor: pointer;

      & img {
        width: 30px;
      }
    }

    &__facebook {
      background: #3c5a96;
    }
  }

  &__button {
    width: 529px;
    height: 86px;
    margin-top: 150px;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .sign-up-form {
    width: 1024px;

    &__heading {
      width: 577px;
      font-size: 25px;
      margin-top: 88px;
    }

    &__auth {
      width: 375px;
    }

    &__button {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 946px) {
  .sign-up-form {
    width: 100%;

    &__field {
      width: 500px;
    }
  }
}

@media screen and (max-width: 606px) {
  .sign-up-form {
    &__heading {
      width: 455px;
    }

    &__field {
      width: 430px;
    }

    &__button {
      width: 430px;
    }
  }
}
